
<!-- page welcome -->
<div class="jumbotron">
<div class="container">

  <h1>{{ site.name }}</h1>

  <p>Welcome to <strong>{{ site.data.course.id }} {{ site.data.course.title }}</strong> for the {{ site.data.course.term }} {{ site.data.course.year }} semester. This semester will focus on {{ site.data.course.topic }}.</p>

  <p><a class="btn btn-lg usf-gold-green" href="{{ site.github.url }}/syllabus.html" role="button">Learn More &raquo;</a></p>

</div> <!-- /container -->
</div> <!-- /jumbotron -->
