<h2><a name="off-campus" href="#off-campus" class="anchor"><i class="fa fa-link"></i>Off-Campus Access</a></h2>

<p><strong class="text-success">Learning how to download academic research papers is a critical skill for any researcher!</strong></p>

<p>The easiest option for restricted access papers is to download them while connected to the on-campus network (wired or wireless). The second easiest option is to search for the paper on <a href="https://scholar.google.com/">Google Scholar</a> and see if there is an unrestricted PDF posted somewhere.</p>

<p>However, that PDF will likely be a pre-print and may not be the final version of that paper. To download the official version, you need to access the paper via the library's <a href="http://www.usfca.edu/library/fusion/">Fusion</a> database. To do so, follow these steps:</p>

<ol>
<li><p>Go to the <a href="http://www.usfca.edu/library/fusion/">Fusion Database</a> and login using your USF Connect/myUSF username and password (if prompted).</p></li>

<li><p>Search for the paper. You may have to include the title and first author to find the specific paper in question.</p></li>

<li><p>Click the "USF Find Full Text" image, which looks like this: <img src="{{ site.github.url }}/images/findfulltext.gif"></p></li>

<li><p>Under the "Full-Text (Search/Browse)" heading there should <em>hopefully</em> be a link. Click it.</p></li>

<li><p>Either this will take you <em>directly</em> to the paper you are looking for, or to the publication. If it is the second case, you'll have to browse through that publication for your paper. Use the citation! It tells you useful information (like volume, date, and pages) to find the paper.</p></li>
</ol>

<p> If this process fails, try <a href="https://scholar.google.com/">Google Scholar</a> instead and hope the pre-print matches the final version.</p>
